*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

 h1{
     border:  3px solid rgb(21, 146, 144);
     width: 95%;
     padding: 0.5rem;
     margin: 22px 22px 22px 22px;
     font-size: 3rem;
    text-align: center;
    color: papayawhip;
}
.h2{
    margin: 10px;
    font-size: 1rem;
    color: whitesmoke;
    animation: bounce 0.7s ease-in-out infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {transform: translateY(-10px);}
}


#low{margin-left: 4%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 10px;
    border-radius: 20px;
    position: sticky;
    top: 0;
 
}
.navbar {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 10px;
     list-style-type: none; 
}

.navbar a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 0.4s ease-out;
}

.navbar a:hover {
    color: gold;
    transform: scale(1.1);   
}
.fig img {
    margin: 10px;
}
.fig figcaption {
    margin: 10px;
}
body{
    background-image: linear-gradient(rgb(95, 176, 176), rgb(244, 129, 129),rgb(201, 199, 232));
    /* background-color: azure; */
    font-size: 22px;
    line-height:2.5rem;
    width:100%;
    font-family: cursive
}

h2{
    /* padding: 6rem; */
    text-align: center;
}
p{
    font-size: 1.5rem;
    border: 1px solid black;
    margin: 10px;
    padding: 2rem;
}

.left{
    text-transform: uppercase;
    color: hsl(147, 55%, 25%);
}
.right{
    text-align: justify;
}
.FLUSH{
    border: 1px solid wheat;
    border-radius: 10px;
    margin: 2rem;
    padding: 1rem;
    background:linear-gradient(papayawhip, orange, purple);
    overflow: auto;
}

.float{
     float: right;
}
.fly{
float: left;
}
.fly img {
    margin-right: 20px;
}
.li p {
border: none;
padding: 1px;
}
#none{
    list-style-type: none;
}
h3 {
    margin: 20px;
}
aside {
    margin: 20px;
}
audio {
    margin: 20px;
}
table {
    margin: 20px;
}

.nav {
    display: inline-block;
    width: 100%;
    
}
.nav a{
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
}

.nav a:hover {
    color: blue;
    
}


table,tr,th,td,caption {
    border: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}