body {
    margin: 1rem;
    height: 100vh;
    
}
.red {
    color: red;
}
.blue {
    color: blue;
}

.big {
    font-size: 40px;
}

.small {
    font-size: 10px;
    background: color-mix(in hsl shorter hue, 
    percentage, color percentage);
} 

button {/* 
    margin: 10px;
    padding: 5px 20px;
    font-size: 25px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 2px black; */
}
button:hover {
box-shadow: 0 0 10px black;
transition: 0.3s ease-in;
}
